input {
    padding: 0px 20px;
    border: none;
    border-radius: 5px;
    width: 1rem;
    font-size: 1rem;
    width: 2.2rem;
    height: 2.5rem;
    margin-right: 0.8rem;
}

.letterInput::placeholder {
    font-size: 12px;
    color: #999;
  }

.points span {
    font-weight: bold;
}

.tip span {
    text-transform: uppercase;
    color: #ECFA00;
    border-bottom: 1px solid pink;
}

.wordContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 20px solid darkred;
}

.word {
    display: flex;
    margin-bottom: 0.6rem;
    width: 100%;
    height: 100%;
  }
  

.letter, .blankSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    border: 3px solid black;
    width: 5rem;
    height: 5rem;
    text-transform: uppercase;
    background-color: white;
    color: black;
    font-weight: bold;
}

.space {
    width: 5rem;
    height: 5rem;
    display: inline-block;
  }
  

@media (max-width: 1000px) {
    .letter, .blankSquare {
        font-size: 1.5rem;
        width: 4rem;
        height: 4rem;
    }
    .wordContainer {
        border: 15px solid darkred;;
    }
    .space {
        width: 4rem;
        height: 4rem;
      }
      .word {
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 0.6rem;
      }
}

@media (max-width: 600px) {
    .letter, .blankSquare {
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }
    .wordContainer {
        border: 10px solid darkred;;
    }
    .space {
        width: 2.5rem;
        height: 2.5rem;
      }
      .word {
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 0.6rem;
      }
}

